---
import githubLogo from "./assets/github.svg";
import QqLogo from "./assets/QQ.svg";
import YsepanLogo from "./assets/ysepan.png";
export interface Props {
  /** 标题 */
  title: string;
  /** 路由前缀 */
  base: string;
  headerItems: {
    label: string;
    url: string;
    chidren?: {
      label: string;
      url: string;
    }[];
  }[];
}

const { title, headerItems } = Astro.props;
---

<nav
  class="navbar is-light is-fixed-top"
  role="navigation"
  aria-label="main navigation"
>
  <div class="navbar-brand">
    <a class="navbar-item" href="/yima">
      <img src="/yima/assets/yi-cursive.svg" alt="逸码图标" height="28" />
      <b class="ml-3" set:text={title} />
    </a>

    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      {
        headerItems.map((item) =>
          item.chidren ? (
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">{item.label}</a>
              <div class="navbar-dropdown">
                {item.chidren.map((i) => (
                  <a class="navbar-item" href={i.url}>
                    {i.label}
                  </a>
                ))}
              </div>
            </div>
          ) : (
            <a class="navbar-item" href={item.url}>
              {item.label}
            </a>
          )
        )
      }
    </div>

    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link"> 联系我们</a>
        <div class="navbar-dropdown">
          <a
            href="https://jq.qq.com/?_wv=1027&k=5V71KdOJ"
            target="_blank"
            class="navbar-item"
          >
            <span class="icon"><img src={QqLogo} alt="QQ图标"/></span>
            <span>加入QQ群</span>
          </a>
          <a href="http://yima.ysepan.com/" target="_blank" class="navbar-item">
            <span class="icon"
              ><img src={YsepanLogo} height="16" width="16" alt="永硕网盘图标"/></span
            >
            <span>访问网盘</span>
          </a>
          <a
            href="https://github.com/lakent/yi/issues"
            target="_blank"
            class="navbar-item"
          >
            <span class="icon"><img src={githubLogo} alt="github图标" /></span>
            <span>提交建议</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<nav class="navbar is-invisible"></nav>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const $navbarBurgers = Array.prototype.slice.call(
      document.querySelectorAll(".navbar-burger"),
      0
    );

    $navbarBurgers.forEach((el) => {
      el.addEventListener("click", () => {
        const target = el.dataset.target;
        const $target = document.getElementById(target);
        el.classList.toggle("is-active");
        $target.classList.toggle("is-active");
      });
    });
  });
</script>
