---
import ContactUs from "../navbar/ContactUs.astro";
export interface Props {
  title: string;
  subt: string;
  link: Array<{
    label: string;
    href: string;
  }>;
}

const { title, subt, link } = Astro.props;

const isActive = (href: string) => Astro.url.pathname === href;
---

<section class="hero is-warning">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href={import.meta.env.BASE_URL}>
            <img
              src={import.meta.env.BASE_URL + "assets/yi-cursive.svg"}
              alt="Logo"
            />
          </a>
          <span class="navbar-burger" id="navmore">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbasic" class="navbar-menu">
          <div class="navbar-end">
            <ContactUs />
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title has-text-wide">
        {title}
      </p>
      <p class="subtitle">
        {subt}
      </p>
    </div>
  </div>

  <div class="hero-foot">
    <nav class="tabs is-boxed is-centered">
      <div class="container">
        <ul>
          {
            link.map((e) => (
              <li class={isActive(e.href) ? "is-active" : ""}>
                <a href={e.href}>{e.label}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </nav>
  </div>
</section>

<script defer>
  const navmore_ele = document.getElementById("navmore");
  const navbasic_ele = document.getElementById("navbasic");

  navmore_ele.addEventListener("click", () => {
    navbasic_ele.classList.toggle("is-active");
    navmore_ele.classList.toggle("is-active");
  });
</script>
